/*网页样式初始化*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration:none;
}

/* 盒模型重置 */
*::after,*::before{
  box-sizing: inherit !important;
}

a{
  text-decoration:none;
  color: unset;
}

body {
  min-width: 960px;
  margin: 0 auto;
  font-family: PingFangSC-Regular, sans-serif;
}

/*去除选中框*/
button:focus {
  outline: none;
}
input:focus, textarea:focus {
  outline: none;
}

/*清除input历史记录背景色*/
input:-webkit-autofill {
  background-color: #FAFFBD;
  background-image: none;
  color: #000;
}

/* 导航栏样式 */
header{
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  min-width: 960px;
  transition: all .3s;
}
header.header_background{
  background:rgba(9,80,169,1);
}
header .header_box{
  max-width: 1220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height:88px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
/* logo样式 */
header .nav_logo{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color:rgba(255,255,255,1);
}
header .nav_logo .logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav_logo .logo>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .nav_logo .company_name{
  font-size:18px;
  font-weight:bold;
}

/* 导航栏样式 */
header nav{
  display: inline-flex;
  align-items: center;
  font-size:18px;
  font-weight:400;
  color:rgba(255,255,255,1);
  text-align: right;
}
header nav nav-item{
  cursor: pointer;
  transition: opacity 0.2s;
}
header nav:hover nav-item:not(:hover) {
  opacity: .6;
}
header nav nav-item:not(:last-child){
  margin-right: 37px;
}


/* 页面主体样式 */
section{
  /*height: calc(100vh - 88px);*/
  /*overflow-y: auto;*/
  /*overflow-x: hidden;*/
}
section .section_plate{
  padding: 100px 10px 106px;
}
section .section_plate .plate_title{
  margin-bottom: 43px;
  text-align: center;
  font-family: Segoe UI, PingFangSC-Regular, sans-serif;
}
section .section_plate .plate_title>p{
  font-size:26px;
  font-weight:900;
  color:rgba(10,10,10,1);
  margin-bottom: 8px;
}
section .section_plate .plate_title>span{
  font-size:16px;
  font-weight:400;
  color:rgba(0,0,0,.6);
}


/* hover板块样式设置 */
section .section_plate .plate_box.index_hover_plate{
  max-width: 1069px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .section_plate .plate_box.index_hover_plate .index_hover_box{
  width:206px;
  height:256px;
  cursor: pointer;
  border:1px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:Segoe UI, PingFangSC-Regular, sans-serif;
  color:rgba(112,112,112,1);
  transition: all .3s;
}
section .section_plate .plate_box.index_hover_plate .index_hover_box .icon{
  width: 56px;
  height: 56px;
  margin-bottom: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
section .section_plate .plate_box.index_hover_plate .index_hover_box .icon>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}
section .section_plate .plate_box.index_hover_plate .index_hover_box>p{
  font-size:18px;
  font-weight:900;
  margin-bottom: 14px;
}
section .section_plate .plate_box.index_hover_plate .index_hover_box>span{
  display: inline-flex;
  max-width: 140px;
  margin: 0 auto;
  font-size:14px;
}
section banner .banner .swiper-slide .slide_list .banner_message .banner_message_text{
  margin-bottom: 128px;
}
section banner .banner .swiper-slide .slide_list .banner_message .banner_message_btn>div:not(:last-child){
  margin-right: 62px;
}
section banner .banner .swiper-slide .slide_list .banner_message .banner_message_btn>div:first-child{
  background:rgba(255,168,46,1);
}
section banner .banner .swiper-slide .slide_list .banner_message .banner_message_btn>div:last-child{
  border:1px solid rgba(255,255,255,1);
}


/* 页脚 */
footer{
  background:rgba(61,73,89,1);
  padding: 78px 0 36px;
  font-family:Segoe UI, PingFangSC-Regular, sans-serif;
}
footer .footer_box{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

/* 页脚目录 */
footer .footer_box .footer_nav{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .footer_box .footer_nav .nav_box{
  color:rgba(255,255,255,.8);
}
footer .footer_box .footer_nav .nav_box .nav_title{
  font-size:16px;
  font-weight:bold;
  margin-bottom: 18px;
}
footer .footer_box .footer_nav .nav_box nav{
  display: flex;
  flex-direction: column;
}
footer .footer_box .footer_nav .nav_box nav nav-item{
  font-size:14px;
  font-weight:400;
  transition: opacity 0.2s;
}
footer .footer_box .footer_nav .nav_box nav nav-item:not(:last-child){
  margin-bottom: 8px;
}
footer .footer_box .footer_nav .nav_box nav:hover nav-item:not(:hover) {
  opacity: .7;
}

/* 页脚二维码 */
footer .footer_box .footer_nav .nav_box .qr_img{
  width: 120px;
  height: 120px;
}
footer .footer_box .footer_nav .nav_box .qr_img>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer .footer_box .footer_nav .nav_box .qr_text{
  text-align: center;
  font-size:12px;
  font-weight:400;
  color:rgba(255,255,255,1);
  margin-top: 11px;
}


footer .footer_box .footer_bottom{
  text-align: center;
  font-size:14px;
  font-weight:400;
  color:rgba(255,255,255,.8);
  border-top: 1px solid rgba(255,255,255,.5);
  padding-top: 36px;
  margin-top: 34px;
}
footer .footer_box .footer_bottom a{
  display: inline-block;
  position: relative;
}
footer .footer_box .footer_bottom a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: rgba(255,255,255,.5);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
footer .footer_box .footer_bottom a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
footer .footer_box .footer_bottom>div:not(:last-child){
  margin-bottom: 10px;
}
footer .footer_box .footer_bottom .footer_bottom_protocol{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer_box .footer_bottom .footer_bottom_protocol>p{

}
footer .footer_box .footer_bottom .footer_bottom_protocol>p:not(:last-child)::after{
  content: '|';
  margin: 0 8px;
}
