/* hover板块样式设置 */
section .index_plate{
  padding: 100px 0 106px;
}
section .index_plate .plate_box.index_hover_plate{
  max-width: 1069px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .index_plate .plate_box.index_hover_plate .index_hover_box{
  width:206px;
  height:256px;
  cursor: pointer;
  border:1px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:Segoe UI, PingFangSC-Regular, sans-serif;
  color:rgba(112,112,112,1);
  transition: all .2s;
}
section .index_plate .plate_box.index_hover_plate .index_hover_box .icon{
  width: 56px;
  height: 56px;
  margin-bottom: 29px;
}
section .index_plate .plate_box.index_hover_plate .index_hover_box .icon>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
section .index_plate .plate_box.index_hover_plate .index_hover_box>p{
  font-size:18px;
  font-weight:900;
  margin-bottom: 14px;
}
section .index_plate .plate_box.index_hover_plate .index_hover_box>span{
  display: inline-flex;
  max-width: 140px;
  margin: 0 auto;
  font-size:14px;
}


/* 第一板块 */
section .index_plate.index_plate_one .plate_box.index_hover_plate .index_hover_box{
  background:rgba(255,255,255,1);
  box-shadow:0 3px 6px rgba(0,0,0,0.16);
}
section .index_plate.index_plate_one .plate_box.index_hover_plate .index_hover_box:hover{
  background:rgba(1,76,170,1);
  border:1px solid rgba(1,76,170,1);
  box-shadow:6px 12px 4px rgba(0,0,0,0.2);
  color:rgba(255,255,255,1);
}

/* 第二板块 */
section .index_plate.index_plate_two{
  background: #E7F0F5;
}
section .index_plate.index_plate_two .plate_box.index_hover_plate .index_hover_box:hover{
  background:rgba(255,255,255,1);
  box-shadow:0 11px 20px rgba(0,0,0,0.2)
}

/* 第三板块 */
section .index_plate.index_plate_three{

}

/* 第四板块 */
section .index_plate.index_plate_four{
  background: url("../images/index_plate_four_background.png") center center;
  background-size: cover;
}
section .index_plate.index_plate_four .plate_title>p{
  color:rgba(255,255,255,1);
}
section .index_plate.index_plate_four .plate_title>span{
  color:rgba(255,255,255,.6);
}

/* 第五板块 */
section .index_plate.index_plate_fives{

}

/* 第六板块 */
section .index_plate.index_plate_six{
  background:rgba(231,240,245,1);
  padding-bottom: calc(106px - 53px);
}
section .index_plate.index_plate_six .plate_box{
  width: 1044px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}
section .index_plate.index_plate_six .plate_box .plate_six_box{
  box-sizing: border-box;
  flex: 0 0 20%;
  text-align: center;
  margin-bottom: 53px;
  cursor: pointer;
}
section .index_plate.index_plate_six .plate_box .plate_six_box .icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
}
section .index_plate.index_plate_six .plate_box .plate_six_box .icon>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
section .index_plate.index_plate_six .plate_box .plate_six_box>p{
  max-width: 130px;
  margin: 0 auto;
  font-size:14px;
  font-weight:400;
  color:rgba(112,112,112,1);
}
